@font-face {
  font-family: Oswald;
  src: url(./fonts/Oswald.ttf);
}

:root {
  font-family: Oswald, sans-serif;
  --soft-white: #F1FAEE;
  --orange: #FF9923;
  --red: #F25C54;
  --blue: #80BBDF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-size: inherit;
  font-weight: normal;
  list-style-type: none;
  color: var(--soft-white);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background.jpg);
  background-size: cover;
}

#title, #round-message {
  text-align: center;
}

#game {
  height: clamp(500px, 100%, 600px);
  width: min(1000px, 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: rgba(0,0,0,0.25);
  backdrop-filter: blur(2px);
}

#header {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#title {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.25em;
}

#round-message{
  font-size: 1.25rem;
  margin-bottom: auto;
}

#grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.grid {
  flex: 0 1 400px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 0.25rem;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.tile {
  border-radius: 0.25rem;
  border: 1px solid var(--soft-white);
  transition: all 250ms ease;
}

.ship, .highlight {
  border: 1px solid var(--orange);
}

.ship {
  background-color: var(--orange);
}

.miss {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.hit {
  background-color: var(--red);
  border: 1px solid var(--red);
}

@media only screen and (max-width: 600px) {
  #game {
    height: 100%;
    border-radius: 0rem;
  }

  #header {
    flex: 0;
  }

  #title {
    font-size: 2.5rem;
  }

  #grid-container {
    flex-direction: column;
    flex: 1;
  }
  
  .grid {
    flex: 1;
  }
}