
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-size: inherit;
  font-weight: normal;
  list-style-type: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title, #round-message {
  text-align: center;
}

#game {
  height: clamp(500px, 100%, 600px);
  width: min(1000px, 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: lightseagreen;
}

#header {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: lightcyan;
}

#title {
  font-size: 3rem;
}

#round-message{
  font-size: 1.25rem;
}

#grid-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: wheat;
}

.grid {
  flex: 0 1 400px;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.25rem;
}

.tile {
  border-radius: 0.25rem;
  border: 1px solid black;
}

.ship, .highlight {
  border: 2px solid black;
}

.miss {
  background-color: lightgray;
}

.hit {
  background-color: salmon;
}

@media only screen and (max-width: 600px) {
  #game {
    height: 100%;
  }

  #header {
    flex: 0;
  }

  #grid-container {
    flex-direction: column;
    flex: 1;
  }
  
  .grid {
    flex: 1;
  }
}